@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

body {margin:0;
background-color: whitesmoke;
}


.navbar{
    background-color: rgb(233, 105, 32);
     
}

#titulo{
    background-color:#2A2F3D;
    border-radius: 2px;
}

.logo {
    float: right;
    position: absolute;
    right: 40px;
    top: 10px;
    z-index: 10;
    display: inline-block;
    height: 90px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

h2{
    margin-top: 1px;
    margin-bottom: 1px;   
    font-family:'Raleway', sans-serif;
    font-size: 28px;
    text-align: center;
    color: whitesmoke;
    padding: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#2a2f3d;
  position: sticky;
  top: 0px;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 5px;
}

li {
  float: left;
  border-right: 1px solid #EFF8E6;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 20px;
  font-family:'Raleway', sans-serif;
}

li a:hover:not(.active) {
  background-color: #c76c17;
}

.active {
  background-color: #32555C;  
}

.slider{
   margin: 0 auto;
}

.bx_wrapper{
  margin: 0 auto !important;
    
}

.bx_wrapper, .bx-viewport{
   height: 450px !important;    
}

.products{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center; 
    background-color:#424C55;
}

.products img{
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    border: 2px solid #CF5C36;
    border-radius: 2px;
}

.post{
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 10px;
    display: inline-block;
    color: white;
    border-right: 1px solid #CF5C36;
    height: 500px;
    width: 350px;
}

.products :hover{
    background-color:#191D32;
}

.post h2{
    font-size: 24px;
    color: whitesmoke;
    font-family:'Raleway', sans-serif;
    
}

.post p{
    font-size: 18px;
    line-height: 18px;
    font-family:'Raleway', sans-serif;
    text-align: justify
}

.products{
    
}

.boton_post{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #5d737e;
    border-radius: 6px;
    border: 2px solid #5d737e;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 20px;   
}

.boton_post :hover{
    background-color: whitesmoke;
}

.content{
    
    border: 1px solid rgb(142, 189, 233);
}

.articulo{
    margin: 0 auto;
    padding: 5px;
    border-top: 5px solid whitesmoke;
    width: 90%;
    background-color: #dfe4f5;
    height: 300px;
}

.articulo h2{
    padding-top: 10px;
    color:#CF5C36;
}

.articulo p:not(.pfecha){
    color:#2a2f3d;
    font-family:'Raleway', sans-serif;
    font-size: 19px;
}

.pfecha{
    color: #5e2606;
}

.pie{
    width: 100%;
    background-color:#2a2f3d;
    font-size: 18px;
    font-family:'Raleway', sans-serif;
    color: #ffffff;
    height: 35px;
    padding-left: 20px;
    margin-top: 20px;
}

#botonera{
    position: fixed;
    top: 40%;
}

#abrir_form{
    position: fixed;
    top: 47%;
    background: #2757afdc;
    border-radius: 2px; 
}

#abrir_form :hover{
    border: 2px solid #0b3480dc ;
    border-radius: 1px;
    cursor: pointer;
}

#abrir_form img{
    display: block;
    margin: 0 auto;
}

#changetheme{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-top: 8px;
    border: 1px solid rgb(202, 100, 16);
    background-color:rgb(224, 127, 47);
    border-radius: 2px;
}

#changetheme :hover{
    border: 2px solid #cf5c36;
    cursor: pointer;
}

.up{
    display: block;
    text-decoration: none;
    float: right;
    padding-right: 35px;
    color: wheat;
} 

#formulario{
    width: 200px;
    height: 250px;
    background-color: #232f4e;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgb(85, 95, 95);
    margin-left: 30px;
    font-family:'Raleway', sans-serif;
    position: fixed;
    top: 50%;
    left: 1%;
    display: none;
}

#formulario h2{
    font-size: 20px;
}

form input{
    padding: 3px;
    padding-left: 10px;
    border-radius: 4px;
    border-color: rgb(46, 55, 80);
    width: 80%;
    margin-bottom: 7px;
    margin-top: 3px;
    font-family:'Raleway', sans-serif;
}
form label{
    color: whitesmoke
}

form input[type="submit"]{
    border: 2px solid whitesmoke;
    border-radius: 3px;
    width: 60%;
    font-family:'Raleway', sans-serif;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    color: rgb(7, 22, 54);
    
}

#login{
    padding: 2px;
    margin-left: 8px;
}

#box-acordeon{
    width: 75%;
    margin-top: 40px;
    margin: 0 auto;
}

#acordeon{
    background-color: #2A2F3D;
    margin-top: 20px;
}


#box-acordeon h2{
    color:#2A2F3D;
}

 .ui-accordion .ui-accordion-header{
     background-color:#2A2F3D !important;
     height: 60px !important;
     border-radius: 2px !important;
     font-family:'Raleway', sans-serif;
     font-size: 22px !important;
     color: white;
 }

 .ui-accordion .ui-accordion-header:hover{
     background-color:#3d4762 !important;
 }


 .ui-accordion .ui-accordion-content{
    font-family:'Raleway', sans-serif;
    font-size: 20px !important;
    color: #01081a;
 }

 #contact_form_box{
    width: 70%;
    margin-top: 15px !important;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 5px rgb(102, 133, 173);
    background-color: rgb(250, 250, 250);
 }
 #contact_form_box p{
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align:center;
 }
 #contact_form_box h2{
     color:rgb(46, 55, 80) !important;
 }

 #contact_form {
    display: block;
    margin-left: 30px;
    font-family:'Raleway', sans-serif;
    transition: 0.3s;
 }

 #contact_form :hover {
    transform: scale(1.1);
 }

 #contact_form label{
     display: block;
     width: 100%;
     color: #2A2F3D;
     font-weight: bold;
     margin-top: 5px;
 }

 #contact_form input{
    font-weight: bold;
 }

 select{
    padding: 3px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid rgb(46, 55, 80);
    border-color: rgb(46, 55, 80);
    width: 40%;
    margin-bottom: 7px;
    margin-top: 3px;
    font-family:'Raleway', sans-serif; 
 }

 #submit{
     background-color:#32555c;
     color: white;
     width: 15%;
     height: 35px;
     font-size: 15px;
     border-radius: 4px;
     margin:0 auto;
     margin-top: 5px;
     cursor: pointer;
 }

 #submit :hover{
     cursor: pointer;
     width: 35%;
 }


 .form-error{
    /* float: right; */
     font-size: 14px;
     background: rgb(161, 20, 20);
     color: white;
     padding: 10px;
     width: 100%;
     border-radius: 3px;
 }


