@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

body{
    background-color: rgb(160, 38, 7)
}

#global{
    width: 95%;
    height: auto;
    margin: 0px auto;
    margin-top:30px;
    padding: 20px;
    background-color: rgb(250, 245, 244);
    box-shadow: 1px 1px 1px coral;
    overflow: hidden;
}

.clear{
 float: none;
 clear: both;
}
#logo{
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    background-color: rgb(199, 68, 20);
    color: white;
    width: 100%;
    float: left;
    border-radius: 2px;
    height: auto;
    margin-bottom:1px;
}
#logolomocarnes{
    display: block;
    height: 85px;
    float: left;
    border-radius: 3px;
    margin: auto;
    margin-right: 15px;
    margin-left: 15px;   
}


#menubarra{
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    float: right;
    background-color: rgb(228, 108, 39);
    border-radius: 2px;
}

#menubarra ul{
    line-height:42px;
    list-style: none;
}
#menubarra ul li{
    height:42px;
    display: inline-block;
    transition: all 400ms;    
}

#menubarra a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

#menubarra ul li :hover{
    line-height:50px;
    background-color:rgb(199, 68, 20);    
}

#posts{
    margin-top:20px;
    background-color: darksalmon;   
}

.post{
    
    padding: 10px;
    border-top:20px;
    font-family:'Raleway', sans-serif;
    width:60%;
    float: left;
    
}

.post #date{
    color: rgb(88, 87, 86);
}

.post p{
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}

#about{
    font-family:'Raleway', sans-serif;
    float: right;
}

#about{
    width: 20px;
}

footer{
    display: block;
    font-family:'Raleway', sans-serif;
    height:250px;
    background-color: rgb(177, 54, 6);
    width:50%;
}






